@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

body {
    margin: 0;
    font-family: "Sriracha", cursive;
    background-image: linear-gradient(to bottom, #000 10%, #fff);
}

header {
    background-color: #000;
    color: white;
    font-family: "Passion One", sans-serif;
    text-align: center;
    padding: 2em;
}

header h1 {
    font-weight: bold;
    font-size: 4em;
    font-variant: small-caps;
    margin: 0;
}

header p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header p a {
    text-decoration: none;
    color: white;
    font-family: "Passion One", sans-serif;
    font-size: 1.3em;
}

header p a:hover{
    text-decoration: 2px #fff solid underline;
}

main {
    background-color: #fff;
    width: 70vw;
    max-width: 750px;
    margin: auto;
    padding: 20px;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #ffffff00, #000 16%);
    line-height: 2em;
}

article {
    padding: 3em 0;
}

.imagem {
    margin: -20px;
    background-attachment: fixed;
    background-position: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.imagem p {
    display: inline-block;
    background-color: #00000070;
    padding: 20px;
    color: white;
}
