/* EDIT 1:
Reajustando algumas coisas porque o site do vídeo é diferente do PDF. Mas ainda, antes das correções:
Mudança na cor de fundo do <body>;
Sombra no <header>;
Mudança na transição dos itens do <nav> no <header>;
Outline no <main>;
Mudança nos visuais dos <a> dentros de <article>;
Centralização das <img> no <article>;
Underline nos novos <span> em <aside>.
*/

/*EDIT 2 PÓS CAPITULO 17
Criei um :root com a paleta de cores e fontes, mas decidi não usar porque as cores usadas, na minha opinião, já estão satisfatórias;
Não pensei em colocar os itens do footer com .highlight em formato de link, mas vendo os vídeos, eles são, então agora eles são <a> ao invés de <span> e possuem um :hover;
Bordas Curvas na parte de baixo do <main>;
line-height maior nos <p> do <main>;
Ao invés de duas listas no <aside> em inline-block, coloquei uma lista em duas colunas;
Sombra e Espaçamento no <h1> do <header>
*/

@charset "UTF-8";

@font-face {
    font-family: "Android";
    src: url("fonts/idroid.otf") format("opentype");
}

@font-face {
    font-family: "Coolvetica";
    src: url("fonts/coolvetica\ condensed\ rg.otf") format("opentype");
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Coolvetica', cursive;
    --fonte-android: 'Android', cursive;
}

body {
    background-color: #E8E7C2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-image: linear-gradient(to bottom, #3DDA84, #1A5C38);
    text-align: center;
    padding-top: 11px;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 0px -11px 20px 9px #3DDA84,
                0px 6px 8px #0000009c;
}

header p{
    text-align: center;
}

p {
    text-indent: 2em;
    text-align: justify;
    line-height: 1.5em;
}

header h1 {
    font-family: Coolvetica, Arial, sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.692);
    letter-spacing: 2px;
}

header ul {
    font-weight: bold;
    margin: 5px;
    text-align: left;
    padding: 10px 0 10px 25px;
}

header ul li {
    display: inline-block;
    list-style-type: none;
    padding-right: 10px;
}

header ul li a {
    text-decoration: none;
    color: white;
    transition: 120ms ease-in;
}

header ul li a:hover {
    background-color: #84E1AD;    
    padding:11px;
}

main {
    max-width: 800px;
    margin: auto;
    margin-top: -4px;
    background-color: white;
    padding: 12px;
    outline: 6px solid #79786623;
    border-radius: 0 0 25px 25px;
}

#intro h1 {
    font-family: "android", arial, sans-serif;
    font-size: 1.8em;
    color: #1A5C38;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.420);
    font-weight: normal;
}

article h2 {
    background-image: linear-gradient(to right, #C6EBD6 , #ffffff00 );
    padding-left: 10px;
    font-family: "android", arial, sans-serif;
    color: #1A5C38;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.420);
    font-weight: normal;
}


.destaque {
    font-weight: bold;
    color: #46795E;
}

article a {
    text-decoration: none;
    color: #46795E;
    font-weight: bold;
}

article a:hover {
    background-color: #3DDA84;
    color: rgba(0, 0, 0, 0.733);
    padding: 2px 1px;
}

article a:active {
    background-color: #1A5C38;
    color: #eefff5;
    padding: 2px;
    margin: 1px;
}

article a::after {
    content: "🔗";
}

article img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.video {
    text-align: center;
    background-color: #1A5C38;
    margin: 0 -12px;
    padding: 20px;
}

#iframe {
    aspect-ratio: 16 / 9;
    width: 95%;
}

aside {
    background-color: #C5EBD6;
    margin: 12px 0;
    padding: 0 1em 1px;
    border-radius: 1em;
}

aside h3 {
    margin: 10px -16px;
    background-color: #2FA866;
    color: white;
    padding: 10px;
    border-radius: 1em 1em 0 0;
    
}

aside ul {
    columns: 2;
    padding-right: 1em;
}

aside ul li {
    list-style: "✔️- ";
}

aside ul li span {
    text-decoration: underline;
}

aside a {
    text-decoration: none;
    color: #46795E;
    font-weight: bold;
}

aside a:hover {
    background-color: #1A5C38;
    color: #eefff5;
    padding: 2px;
    margin: 1px;
}

aside a::after {
    content: "🔗";
}

footer {
    background-color: #1A5C38;
    color: #C5EBD6;
    text-align: center;
}

.highlight {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a.highlight:hover {
    color: var(--cor1);
}