body {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: #1d1d1d;
    text-align: center;;
}
h1 {
    font-size: 36px;
}
.link1 {
    margin: 12px;
    display: inline-block;
    width: 420px;
    height: 236px;
}
.link2 {
    margin: 12px;
    display: inline-block;
    width: 420px;
    height: 236px;
}
.video1 {
    background-image: url("./imagens/thumb_gray/video1.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s ease-in-out;


}
.video1:hover {
    background-image: url('imagens/thumb_red/video1.jpg');
}
.video2 {
    background-image: url("./imagens/thumb_gray/video2.jpg");
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
}
.video2:hover {
    background-image: url('imagens/thumb_red/video2.jpg');
}
.video3 {
    background-image: url("./imagens/thumb_gray/video3.jpg");
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;

}

.video3:hover {
    background-image: url('imagens/thumb_red/video3.jpg');
}
.video4 {
    background-image: url("./imagens/thumb_gray/video4.jpg");
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
}
.video4:hover {
    background-image: url('imagens/thumb_red/video4.jpg');
}
